@use "../../styles/shared.scss";

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: shared.$color-main;
    height: 80vh;
    width: 50%;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}