@use "../styles/shared.scss";

.notePageWrapper {
    display: grid;
    // only last column has to be 1/8th of the width
    grid-template-columns: repeat(8, 1fr) 80px;
    grid-template-rows: auto;
    grid-template-areas: 
        "folders folders folders folders folders folders folders folders folders"
        "notesearch notesearch notesearch notesearch notesearch notesearch notesearch notesearch notesearch"
        "notes notes notes notes notes notes notes notes options"
        "notes notes notes notes notes notes notes notes options"
        "notes notes notes notes notes notes notes notes options"
        "notes notes notes notes notes notes notes notes options";
    margin-bottom: shared.$padding-desktop-lg;
        & > div {
            // border: 1px solid black;
            width: 100%;
            height: auto;
        }

        .foldersContainer {
            grid-area: folders;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .foldersBar {
                width: 98%;
                height: 90%;
                border: shared.$border-width-thin solid shared.$color-primary;
                border-radius: shared.$border-radius-lg;
                display: flex;
                flex-direction: row;
                box-shadow: shared.$box-shadow-md;
                justify-items: center;
                align-items: center;
                margin-top: shared.$padding-desktop-sm;
                margin-bottom: shared.$padding-desktop-sm;

                .folders {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    overflow-x:scroll;
                    overflow-y:hidden;
                }

                input {
                    margin: shared.$padding-desktop-sm;
                    width: shared.$box-desktop-lg;
                    @include shared.body-desktopmedium;
                    border-radius: shared.$border-radius-md;
                    border: shared.$border-width-thin solid shared.$color-lightgray;
                }
                

                
            }

            ::-webkit-scrollbar {
                width: 10px;
                height: 10px;
                border-bottom-left-radius: shared.$border-radius-lg;
                border-bottom-right-radius: shared.$border-radius-lg;
            
            }
        
            ::-webkit-scrollbar-track {
            background: #f1f1f1;
            }
        
            ::-webkit-scrollbar-thumb {
            background: shared.$color-primary;
            border-radius: shared.$border-radius-lg;
            }
        
            ::-webkit-scrollbar-thumb:hover {
            background: shared.$color-accent;
            }
        }

        .noteSearchContainer {
            grid-area: notesearch;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            input {
                width: calc(shared.$box-desktop-xl * 1.6);
                padding: shared.$padding-desktop-xs;
                @include shared.body-desktopmedium;
                margin-bottom: shared.$padding-desktop-md;
                border-radius: shared.$border-radius-md;
                border: shared.$border-width-thin solid shared.$color-lightgray;
            }
        }
        .notesContainer {
            grid-area: notes;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            padding: shared.$padding-desktop-lg;
            grid-gap: shared.$gap-desktop-xl;
            justify-items: center;
        }

        .optionsContainer {
            grid-area: options;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            position: fixed;
            right: 0;
            width: 80px;

            & > div {
                background-color: shared.$color-white;

                display: flex;
                flex-direction: column;
                justify-items: center;
                align-items: center;
                justify-content: center;
                border: shared.$border-width-thin solid shared.$color-primary;
                border-bottom-left-radius: shared.$border-radius-lg;
                border-top-left-radius: shared.$border-radius-lg;
                box-shadow: shared.$box-shadow-md;
                
                width: 100%;
                
            }
            .optionSidebar {
                div {
                    margin: shared.$padding-desktop-sm;
                    background-color: shared.$color-white;
                    width: 100%;
                    height: 100%;
                    * {
                        transition: color 0.2s ease;
                    }
                    
                    &:hover {
                        * {
                            color: shared.$color-secondary;
                        }
                        cursor: pointer;
                    }
                    
                }
                
            }

        }

}

@include shared.tablet {
    .notePageWrapper {
        .notesContainer {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
}

@include shared.mobile {
    .notePageWrapper {
        grid-template-areas: 
        "notesearch notesearch notesearch notesearch notesearch notesearch notesearch notesearch notesearch"
        "notesearch notesearch notesearch notesearch notesearch notesearch notesearch notesearch notesearch"
        "notes notes notes notes notes notes notes notes options"
        "notes notes notes notes notes notes notes notes options"
        "notes notes notes notes notes notes notes notes options"
        "notes notes notes notes notes notes notes notes options";
        .foldersContainer {
            grid-area: folders;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .foldersBar {
                width: 98%;
                height: 90%;
                border: shared.$border-width-thin solid shared.$color-primary;
                border-radius: shared.$border-radius-lg;
                display: flex;
                flex-direction: row;
                box-shadow: shared.$box-shadow-md;
                justify-items: center;
                align-items: center;
                margin-top: shared.$padding-mobile-sm;
                margin-bottom: shared.$padding-mobile-sm;

                .folders {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    overflow-x:scroll;
                    overflow-y:hidden;
                }

                input {
                    margin: shared.$padding-mobile-sm;
                    width: shared.$box-mobile-lg;
                    @include shared.body-mobilemedium;
                    border-radius: shared.$border-radius-md;
                    border: shared.$border-width-thin solid shared.$color-lightgray;
                }
                

                
            }

            ::-webkit-scrollbar {
                width: 10px;
                height: 10px;
                border-bottom-left-radius: shared.$border-radius-lg;
                border-bottom-right-radius: shared.$border-radius-lg;
            
            }
        
            ::-webkit-scrollbar-track {
            background: #f1f1f1;
            }
        
            ::-webkit-scrollbar-thumb {
            background: shared.$color-primary;
            border-radius: shared.$border-radius-lg;
            }
        
            ::-webkit-scrollbar-thumb:hover {
            background: shared.$color-accent;
            }
        }

        .noteSearchContainer {
            grid-area: notesearch;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            
            input {
                width: calc(shared.$box-mobile-xl * 1.6);
                padding: shared.$padding-mobile-xs;
                @include shared.body-mobilemedium;
                margin-bottom: shared.$padding-mobile-md;
            }
        }
        .notesContainer {
            grid-template-columns: 1fr 1fr;
            grid-gap: 10px;
        }

        .optionsContainer {
            width: 30px;
            top: 10vh;

            div {
                background-color: shared.$color-white;
            }
        }
    }
}