@use "../styles/shared.scss";

.pricingContainer {

    h2 {
        @include shared.heading-desktopmedium;
        padding: shared.$padding-desktop-lg;
        color: shared.$color-primary;
    }
    .subOptionsContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        .timeFrameOptions {
            display: flex;
            flex-direction: row;
        }

        .smallPricingOptions {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: shared.$padding-desktop-lg;

            .smallPlanContainer {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                box-shadow: shared.$box-shadow-md;
                border-radius: shared.$border-radius-md;
                // padding: shared.$padding-desktop-xxl;
                width: calc(shared.$box-tablet-md/2);
                height: shared.$box-tablet-xs;
            }

            .smallPlanContainerActive {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
                box-shadow: shared.$box-shadow-md;
                border-radius: shared.$border-radius-md;
                // padding: shared.$padding-desktop-xxl;
                width: calc(shared.$box-tablet-md/2);
                height: shared.$box-tablet-xs;
            }
        }

        .pricingChoice {
            width: shared.$box-desktop-sm;
            transition: border-bottom 0.2s ease;
            cursor: pointer;
            h3 {
                @include shared.heading-desktopsmall;
                color: shared.$color-primary;
            }
        }

        .pricingChoiceActive {
            width: shared.$box-desktop-sm;
            border-bottom: shared.$border-width-thick solid shared.$color-primary;
            transition: border-bottom 0.2s ease;
            cursor: pointer;
            h3 {
                @include shared.heading-desktopsmall;
                color: shared.$color-primary;
            }
        }

    }

    .subsContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: shared.$padding-desktop-lg;
    }
}

@include shared.tablet {
    .pricingContainer {
        .subsContainer{
            display: flex;
            flex-direction: row;
        }
        .subOptionsContainer {

            .pricingChoice {
                width: shared.$box-tablet-sm;
                h3 {
                    @include shared.heading-tabletsmall;
                }
            }
            .pricingChoiceActive {
                width: shared.$box-tablet-sm;
                border-bottom: shared.$border-width-thick solid shared.$color-primary;


                h3 {
                    @include shared.heading-tabletsmall;
                }
            }

            .smallPricingOptions {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .smallPlanContainer {
                    margin-left: shared.$gap-tablet-xl;
                    margin-right: shared.$gap-tablet-xl;
                }

                .smallPlanContainerActive {
                    margin-left: shared.$gap-tablet-xl;
                    margin-right: shared.$gap-tablet-xl;
                    background-color: shared.$color-main;
                    color: shared.$color-white;
                }
            }
        }
        
    }
    
}

@include shared.mobile {
    .pricingContainer {
        .subsContainer{
            display: flex;
            flex-direction: row;
        }
        .subOptionsContainer {

            .pricingChoice {
                width: shared.$box-mobile-sm;
                h3 {
                    @include shared.heading-mobilesmall;
                }
            }
            .pricingChoiceActive {
                width: shared.$box-mobile-sm;
                border-bottom: shared.$border-width-thick solid shared.$color-primary;
                h3 {
                    @include shared.heading-mobilesmall;
                }
            }

            .smallPricingOptions {
                display: flex;
                flex-direction: row;
                justify-content: center;
                .smallPlanContainer {
                    margin-left: shared.$gap-mobile-xs;
                    margin-right: shared.$gap-mobile-xs;
                    width: calc(shared.$box-mobile-sm/2);
                    height: shared.$box-mobile-xs;
                }

                .smallPlanContainerActive {
                    margin-left: shared.$gap-mobile-xs;
                    margin-right: shared.$gap-mobile-xs;
                    background-color: shared.$color-main;
                    color: shared.$color-white;
                    width: calc(shared.$box-mobile-sm/2);
                    height: shared.$box-mobile-xs;
                }
            }
        }
        
    }
    
}