@use "../styles/shared.scss";

.projectWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-gap: shared.$padding-desktop-md;
    margin: shared.$padding-desktop-lg;
    justify-items: center;

    .createNewProjectBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: shared.$box-desktop-md;
        height: shared.$box-desktop-md;
        background-color: shared.$color-main;
        border-radius: shared.$border-radius-md;
        box-shadow: shared.$box-shadow-lg;
        cursor: pointer;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: shared.$color-secondary;
        }
        h3 {
            @include shared.heading-desktopmedium;
            color: shared.$color-white;
            font-weight: shared.$font-weight-semibold;
        }
    }
}

@include shared.tablet {
    .projectWrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;

        .createNewProjectBox {
            width: shared.$box-tablet-md;
            height: shared.$box-tablet-md;

            h3 {
                @include shared.heading-tabletmedium;
            }
        }
    }
}

@include shared.mobile {
    .projectWrapper {
        grid-template-columns: 1fr;
        grid-template-rows: auto;

        .createNewProjectBox {
            width: shared.$box-mobile-md;
            height: shared.$box-mobile-md;

            h3 {
                @include shared.heading-mobilemedium;
            }
        }

    }
}