@use "../../styles/shared.scss";

.colorWrapper {
    position:absolute;
    right: 0;
    // display: grid;
    // grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto;
    // grid-gap: shared.$padding-desktop-xs;
    background-color: #F5F5F5;
    border-radius: shared.$border-radius-md;
    box-shadow: shared.$box-shadow-md;
    z-index: 20;
    padding: shared.$padding-desktop-xxs;
    cursor: none;
    // width: shared.$box-desktop-md;

    .colorCircle {
        justify-items: center;
        align-items: center;
        border-radius: 10px;
        
        padding: shared.$padding-desktop-xxs;
        border: none;
        z-index: 21;
    }

    .colorCircle:nth-child(1) {
        background-color: shared.$color-white;
        border: shared.$border-width-thin solid black;
    }

    .colorCircle:nth-child(2) {
        background-color: shared.$color-note-lightblue;
    }
    
    .colorCircle:nth-child(3) {
        background-color: shared.$color-note-babypink;
    }

    .colorCircle:nth-child(4) {
        background-color: shared.$color-note-lavender;
    }
    
    .colorCircle:nth-child(5) {
        background-color: shared.$color-note-mintgreen;
    }

    .colorCircle:nth-child(6) {
        background-color: shared.$color-note-palegreen;
    }

    .colorCircle:nth-child(7) {
        background-color: shared.$color-note-lemonchiffon;
    }

    .colorCircle:nth-child(8) {
        background-color: shared.$color-note-peachpuff;
    }
}