@use "../../styles/shared.scss";

.subscriptionCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: shared.$box-shadow-md;
    padding: shared.$padding-desktop-md;
    margin: shared.$padding-desktop-md;

    h3 {
        @include shared.heading-desktopmedium;
        color: shared.$color-main;
    }

    h4 {
        @include shared.heading-desktopsmall;
        color: shared.$color-primary;
    }

    h6 {
        @include shared.body-desktopmedium;
        color: shared.$color-accent;
        font-weight: shared.$font-weight-regular;
    }

    ul {
        // list-style-type;
        // padding: 0;
        // margin: 0;
        li {
            text-align: left;
            width: shared.$box-desktop-sm;
            color: shared.$color-primary;
            padding: shared.$padding-desktop-xs;
            @include shared.body-desktopmedium;
        }
    }

    button {
        @include shared.body-desktoplarge;
        color: shared.$color-white;
        background-color: shared.$color-main;
        border: none;
        border-radius: shared.$border-radius-md;
        padding-top: shared.$padding-desktop-sm;
        padding-bottom: shared.$padding-desktop-sm;
        padding-left: shared.$padding-desktop-xxl;
        padding-right: shared.$padding-desktop-xxl;
        margin-top: shared.$padding-desktop-xs;
        margin-bottom: shared.$padding-desktop-xs;
        box-shadow: shared.$box-shadow-lg;
        font-weight: shared.$font-weight-regular;

        transition: background-color 0.2s ease;

        &:hover {
            background-color: shared.$color-accent;
            transition: background-color 0.2s ease;
        }
    }
}