@use "../../styles/shared.scss";

.projectCardContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: shared.$box-desktop-md;
    height: shared.$box-desktop-md;
    background-color: shared.$color-white;
    border-radius: shared.$border-radius-md;
    box-shadow: shared.$box-shadow-lg;

    .titleBar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: shared.$border-width-thick solid shared.$color-main;
        
        h4 {
            @include shared.heading-desktopsmall;
            color: shared.$color-primary;
            font-weight: shared.$font-weight-semibold;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        .menuButton {
            cursor: pointer;
        }

        * {
            // margin-bottom: shared.$padding-desktop-sm;
            // margin-top: shared.$padding-desktop-sm;
            // margin-left: shared.$padding-desktop-xs;
            // margin-right: shared.$padding-desktop-xs;
        }
    }

     h5 {
        @include shared.heading-desktopsmall;
        margin-top: shared.$padding-desktop-md;
        color: shared.$color-secondary;
        font-weight: shared.$font-weight-regular;
        padding: shared.$padding-desktop-xs;
     }
}

@include shared.tablet {
    .projectCardContainer {
        width: shared.$box-tablet-md;
        height: shared.$box-tablet-md;

        .titleBar {
            h4 {
                @include shared.heading-tabletsmall;
            }
        }

        h5 {
            @include shared.heading-tabletsmall;
            margin-top: shared.$padding-tablet-md;
            padding: shared.$padding-tablet-xs;
        }
    }
}

@include shared.mobile {
    .projectCardContainer {
        width: shared.$box-mobile-md;
        height: shared.$box-mobile-md;

        .titleBar {
            h4 {
                @include shared.heading-mobilesmall;
            }
        }

        h5 {
            @include shared.heading-mobilesmall;
            margin-top: shared.$padding-mobile-md;
            padding: shared.$padding-mobile-xs;
        }
    }
}